.page-contact {
  background-color: $color-contact;
  main {
    margin: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    section {
      margin-top: 3em;
      width: 60em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      gap: 1em;
      h2 {
        font-family: "Cormorant Garamond", serif;
        font-size: 48px;
        color: $color-primary;
      }
      p {
        font-family: "Hind Vadodara", sans-serif;
        font-size: 16px;
        margin-bottom: 1em;
      }
      input {
        width: 20em;
        height: 3.5em;
        border: none;
        border-bottom: 1.5px solid $color-primary;
        background-color: $color-contact;
        font-family: "Hind Vadodara", sans-serif;
        color: $color-primary;
        outline: none;
      }
      button:first-child {
        width: 5em;
        margin-right: 1em;
      }
      button {
        margin: 1em 0;
        width: 10em;
        height: 3.5em;
        border: none;
        background-color: $color-portfolio;
        color: $color-about;
        box-shadow: 4px 4px 4px rgba($color-portfolio, $alpha: 0.3);
      }
      div:last-child {
        margin-top: 1em;
        width: 8em;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  footer {
    margin-top: 1em;
    height: 4em;
    border-top: 3px double $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
