section{
    
    h2{
        display: none;

    }
    img{
        &:hover{
            background-color: $color-about;
            h2{
                display: block;
            }
        }
    }
}