.page-portfolio {
  background-color: $color-portfolio;

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    .hover-card,
    .modal {
      display: none;
    }
    article {
      margin: 5em auto;
      width: 21.25em;
      height: 18.375em;
      background-image: url(../images/MacBook\ Air\ -\ 1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      img:last-child {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      div {
        width: 100%;
        height: 3em;
        background-color: $color-text-white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        h3 {
          font-family: "Cormorant Garamond", serif;
          font-size: 24px;
          color: $color-primary;
        }
      }
      &:hover {
        background-image: none;

        .hover-card {
          display: block;
          background-color: rgba($color: #0000006a, $alpha: 0.5);
          span {
            background-color: #000000;
            color: $color-text-white;
          }
        }
      }
      &:active {
        .modal {
          background-color: $color-contact;
          display: block;
          width: 60em;
          height: 28.625em;
          display: flex;
          justify-content: space-between;
          align-items: center;
          box-shadow: 4px 4px 4px rgba($color-primary, $alpha: 0.5);
          img {
            width: 26.875em;
            height: 23.625em;
          }
          article {
            h2 {
              font-family: "Cormorant Garamond", serif;
              font-size: 48px;
              color: $color-primary;
            }
            h3 {
              font-family: "Give You Glory", cursive;
              font-size: 24px;
              color: $color-portfolio;
            }
            p {
              font-family: "Hind Vadodara", sans-serif;
            }
            button {
              width: 10em;
              height: 3.5em;
              background-color: $color-portfolio;
              box-shadow: 4px 4px 4px rgba($color-portfolio, $alpha: 0.5);
            }
          }
        }
      }
    }
  }
}
