@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Give+You+Glory&family=Hind+Vadodara&display=swap');

// font-family: 'Cormorant Garamond', serif;
// font-family: 'Give You Glory', cursive;
// font-family: 'Hind Vadodara', sans-serif;

$color-about: #FFF4D6;
$color-portfolio: #DD845A;
$color-portfolio2: #e49d75;
$color-ui-design: #D3B04D;
$color-contact: #E4E7D4;
$color-primary: #554333;
$color-secondary: #D6E0D5;
$color-text-black: #000;
$color-text-white: #fff;