@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Give+You+Glory&family=Hind+Vadodara&display=swap");
body {
  background-color: #554333;
}

.home-page {
  display: grid;
  justify-content: center;
}
.home-page section {
  display: grid;
  height: 100vh;
  width: 70vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}
.home-page section a {
  text-decoration: none;
}
.home-page section h2 {
  display: none;
}
.home-page section div {
  width: 35vw;
  height: 50vh;
}
.home-page section div img {
  width: 100%;
  height: 100%;
}
.home-page section .ilustration-about:hover {
  background-color: #FFF4D6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page section .ilustration-about:hover img {
  display: none;
}
.home-page section .ilustration-about:hover h2 {
  display: block;
  font-family: "Cormorant Garamond", serif;
  font-size: 68px;
  color: #554333;
}
.home-page section .ilustration-portfolio:hover {
  background-color: #DD845A;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page section .ilustration-portfolio:hover img {
  display: none;
}
.home-page section .ilustration-portfolio:hover h2 {
  display: block;
  font-family: "Cormorant Garamond", serif;
  font-size: 68px;
  color: #E4E7D4;
}
.home-page section .ilustration-ui-design {
  background-color: #D3B04D;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page section .ilustration-ui-design h2 {
  display: block;
  font-family: "Cormorant Garamond", serif;
  font-size: 68px;
  color: #FFF4D6;
}
.home-page section .ilustration-contact:hover {
  background-color: #E4E7D4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page section .ilustration-contact:hover img {
  display: none;
}
.home-page section .ilustration-contact:hover h2 {
  display: block;
  font-family: "Cormorant Garamond", serif;
  font-size: 68px;
  color: #554333;
}

header {
  height: 20%;
  border-bottom: 4px double #554333;
}
header nav {
  width: 80%;
  margin: 1em auto;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul li {
  list-style: none;
}
header nav ul .nav-bar-dot {
  width: 10px;
  height: 10px;
  background-color: #554333;
  border-radius: 50%;
}
header nav ul a {
  text-decoration: none;
  font-family: "Hind Vadodara", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #554333;
  position: relative;
  transition: all 0.5s;
}
header nav ul a::after, header nav ul a::before {
  transition: all 0.5s;
}
header nav ul a:hover {
  color: #DD845A;
}
header nav ul a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #DD845A;
  height: 2px;
}
header nav ul a:hover::after {
  width: 100%;
}

.page-about {
  background-color: #FFF4D6;
}
.page-about main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5em;
}
.page-about main section:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 2em 4em 2em 0;
  margin-left: 4em;
  border-right: 1px solid #554333;
}
.page-about main section:first-child .avatar {
  width: 20em;
}
.page-about main section:first-child h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 48px;
  color: #554333;
}
.page-about main section:first-child h3 {
  font-family: "Give You Glory", cursive;
  font-size: 24px;
  color: #DD845A;
}
.page-about main section:first-child div {
  margin-top: 3em;
  width: 8em;
  display: flex;
  justify-content: space-between;
}
.page-about main section:last-child {
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  gap: 1em;
}
.page-about main section:last-child h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 68px;
  color: #554333;
}
.page-about main section:last-child p {
  font-family: "Hind Vadodara", sans-serif;
  font-size: 16px;
}
.page-about main section:last-child article {
  display: flex;
  flex-direction: column;
}
.page-about main section:last-child article span {
  font-family: "Hind Vadodara", sans-serif;
  color: #DD845A;
  font-size: 14px;
  margin-top: 1em;
}
.page-about main section:last-child article a {
  text-decoration: none;
  color: #FFF4D6;
}
.page-about main section:last-child article button {
  margin: 1em 0;
  width: 10em;
  height: 3.5em;
  border: none;
  background-color: #DD845A;
  color: #FFF4D6;
  box-shadow: 4px 4px 4px rgba(221, 132, 90, 0.3);
  cursor: pointer;
}
.page-about main section:last-child article div {
  display: flex;
  align-items: center;
  gap: 3em;
}
.page-about main section:last-child article .email {
  display: none;
  color: #554333;
  font-family: "Hind Vadodara", sans-serif;
  font-size: 18px;
}
.page-about footer {
  margin-top: 1em;
  height: 4em;
  border-top: 3px double #554333;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav.nav-portfolio {
  width: 80%;
  margin: 1em auto;
}
nav.nav-portfolio ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav.nav-portfolio ul li {
  list-style: none;
}
nav.nav-portfolio ul .nav-bar-dot {
  width: 10px;
  height: 10px;
  background-color: #554333;
  border-radius: 50%;
}
nav.nav-portfolio ul a {
  text-decoration: none;
  font-family: "Hind Vadodara", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #554333;
  position: relative;
  transition: all 0.5s;
}
nav.nav-portfolio ul a::after, nav.nav-portfolio ul a::before {
  transition: all 0.5s;
}
nav.nav-portfolio ul a:hover {
  color: #FFF4D6;
}
nav.nav-portfolio ul a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #FFF4D6;
  height: 2px;
}
nav.nav-portfolio ul a:hover::after {
  width: 100%;
}

.page-portfolio {
  background-color: #DD845A;
}
.page-portfolio main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.page-portfolio main .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 20;
  animation: openModal 0.3s ease-in-out 1 normal;
}
@keyframes openModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.page-portfolio main .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background-color: #E4E7D4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60em;
  box-shadow: 4px 4px 4px rgba(85, 67, 51, 0.5);
}
.page-portfolio main .modal-content .modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 3em;
  transform: translateY(3px);
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
  color: #DD845A;
  cursor: pointer;
}
.page-portfolio main .modal-content img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 24.875em;
  height: 22.625em;
}
.page-portfolio main .modal-content div {
  position: relative;
  margin-left: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.page-portfolio main .modal-content div h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 48px;
  color: #554333;
}
.page-portfolio main .modal-content div h3 {
  font-family: "Give You Glory", cursive;
  font-size: 24px;
  color: #DD845A;
}
.page-portfolio main .modal-content div p {
  font-family: "Hind Vadodara", sans-serif;
}
.page-portfolio main .modal-content div div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.page-portfolio main .modal-content div div button {
  width: 10em;
  height: 3.5em;
  background-color: #DD845A;
  border: none;
  box-shadow: 4px 4px 4px rgba(221, 132, 90, 0.5);
  cursor: pointer;
}
.page-portfolio main .modal-content div div button a {
  text-decoration: none;
  color: #FFF4D6;
}
.page-portfolio main article {
  margin: 5em auto;
  width: 21.25em;
  height: 18.375em;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  transition: 0.4s ease-out;
  position: relative;
}
.page-portfolio main article:hover {
  transform: translateY(20px);
}
.page-portfolio main article:hover:before {
  opacity: 1;
}
.page-portfolio main article:hover .hover-card {
  opacity: 1;
  transform: translateY(0px);
}
.page-portfolio main article::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}
.page-portfolio main article img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.page-portfolio main article div {
  width: 100%;
  height: 3em;
  background-color: #FFF4D6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
}
.page-portfolio main article div h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 24px;
  color: #554333;
}
.page-portfolio main article .hover-card {
  background-color: transparent;
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}
.page-portfolio main article .hover-card p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}
.page-portfolio main article .hover-card button {
  padding: 0.6rem;
  outline: none;
  border: none;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}
.page-portfolio main article .hover-card button:hover {
  background: #DD845A;
  color: #FFF4D6;
}
.page-portfolio main footer {
  margin-top: 1em;
  height: 4em;
  border-top: 3px double #554333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-contact {
  background-color: #E4E7D4;
}
.page-contact main {
  margin: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-contact main section {
  margin-top: 3em;
  width: 60em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 1em;
}
.page-contact main section h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 48px;
  color: #554333;
}
.page-contact main section p {
  font-family: "Hind Vadodara", sans-serif;
  font-size: 16px;
  margin-bottom: 1em;
}
.page-contact main section input {
  width: 20em;
  height: 3.5em;
  border: none;
  border-bottom: 1.5px solid #554333;
  background-color: #E4E7D4;
  font-family: "Hind Vadodara", sans-serif;
  color: #554333;
  outline: none;
}
.page-contact main section button:first-child {
  width: 5em;
  margin-right: 1em;
}
.page-contact main section button {
  margin: 1em 0;
  width: 10em;
  height: 3.5em;
  border: none;
  background-color: #DD845A;
  color: #FFF4D6;
  box-shadow: 4px 4px 4px rgba(221, 132, 90, 0.3);
}
.page-contact main section div:last-child {
  margin-top: 1em;
  width: 8em;
  display: flex;
  justify-content: space-between;
}
.page-contact footer {
  margin-top: 1em;
  height: 4em;
  border-top: 3px double #554333;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */